In [1]:
import os.path as op
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('galtons_peas.csv')
df.head()

,Diameter of Parent Seed (0.01 inch),Diameter of Daughter Seed (0.01 inch),Frequency
0,21.0,14.67,22
1,21.0,15.67,8
2,21.0,16.67,10
3,21.0,17.67,18
4,21.0,18.67,21

In [3]:
pea_dfs = []
for i, row in df.iterrows():
    pea_dfs += [row.iloc[:2]] * int(row['Frequency'])

In [4]:
individual_df = pd.DataFrame(pea_dfs)
individual_df.head()

   Diameter of Parent Seed (0.01 inch)  Diameter of Daughter Seed (0.01 inch)
0                                 21.0                                  14.67
0                                 21.0                                  14.67
0                                 21.0                                  14.67
0                                 21.0                                  14.67
0                                 21.0                                  14.67

In [5]:
individual_df.shape

(700, 2)

Check against R version:

```r
install.packages('psychTools')
library(psychTools)
data(peas)
peas
write.csv(peas, row.names=FALSE)
write.csv(peas, 'r_peas.csv', row.names=FALSE)
```

In [6]:
r_peas = pd.read_csv('r_peas.csv')
r_peas.head()

   parent  child
0      21  14.67
1      21  14.67
2      21  14.67
3      21  14.67
4      21  14.67

In [7]:
np.all(np.array(individual_df) == np.array(r_peas))

True

Write processed version:

In [8]:
out_fname = op.join('processed', 'galtons_peas.csv')
individual_df.to_csv(out_fname, index=False)

In [9]:
# Read back in to confirm
our_peas = pd.read_csv(out_fname)
our_peas.head()

   Diameter of Parent Seed (0.01 inch)  Diameter of Daughter Seed (0.01 inch)
0                                 21.0                                  14.67
1                                 21.0                                  14.67
2                                 21.0                                  14.67
3                                 21.0                                  14.67
4                                 21.0                                  14.67